*.md linguist-language=Markdown
*.md linguist-detectable=true
*.md linguist-documentation=false

*.toml linguist-language=Toml
*.toml linguist-detectable=true

*.pyhtml linguist-language=PyHTML
*.pyhtml linguist-detectable=true